body {
    background-color: #e5e5e5;
}

#input {
    margin-top: 15px;
    margin-bottom: 15px;
}

#loader {
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

