<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='new_albums_for_me.css') }}">
    </head>
    <body>
        <div id="container" class="col-md-8 col-md-offset-2">
            <div id="input">
                <div class="input-group" style="width: 50%; margin-left:auto; margin-right:auto;">
                    <input id="input_lastfm_user" type="text" class="form-control" placeholder="Last.fm username">
                    <span class="input-group-btn">
                        <button id="search_button" class="btn btn-default" type="button">Search</button>
                    </span>
                </div>
            </div>
            <div id="loader">
                <b>now loading, this can take a while</b><br/><br/>
                <img id="loader_img" src="{{ url_for('static', filename='loading.svg') }}" />
            </div>
            <div id="albums"></div>
        </div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='new_albums_for_me.js') }}"></script>
    </body>
</html>