{% for new_album_group in new_albums|batch(4) %}
    <div class="row">
        {% for new_album in new_album_group %}
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{{ new_album['url'] }}" target="_blank">
                            <img style="width: 100%" src="{{ new_album['image_url'] }}" />
                        </a>
                    </div>
                    <div class="panel-footer">
                        <b>{{ new_album['name'] }}</b></br>
                        <b>artist:</b> {{ new_album['artist'] }}</br>
                        <b>release date:</b>
                        {% if new_album['release_date_precision'] == 'day' %}
                            {{ new_album['release_date'].strftime("%Y-%m-%d") }}
                        {% elif new_album['release_date_precision'] == 'year' %}
                            {{ new_album['release_date'].strftime("%Y") }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}